
<div id="messages">
	<h1> Hi <%= session[:user] %>  </h1>
	<span> <%= link_to "離開", users_path, :method=>:destroy%></span>
	<div class="content">
		<ul>
			<% @messages.each do |message| %>
				<li>
					<!-- <span> <a href="" number="<%# message.id %>" class="remove"> X </a> </span> -->
					<span class="content"> <%= message.content %> </span>
					<span class="username"> <%= message.username %> </span>
					<span> <%= message.created_at.strftime('%m/%d %X') %> </span>
				</li>
			<% end %>
		</ul>
		
	</div>

	<hr>
	<div class="message-form">
		<%= form_for @message, :remote=>true do |form| %>
			<%= "#{@user}:" %>
			<%= form.hidden_field :username %>
			<%= form.text_field :content, :id=>"message-input" %>
			<%= form.submit "送出" %>
		<% end %>
	</div>
</div>

<!-- <script src="http://<%#request.host%>:443/faye/client.js"></script> -->
<script>

$("#messages").on('click',".remove", function(e){
	e.preventDefault();
	var li = $(this).closest('li')

	$.ajax({
		method:'delete',
		url: '/messages/' + $(this).attr('number'),
		dataType: 'json',
		data: "",
		success: function(data){
			if (data['result'] == 'ok'){
				li.remove();
			}
		},
		errors: function(data){
			console.log('error' + data)
		}
	});
});

$('.message-form').on('submit','form',function(event){
	if (!$('#message-input').val()){
		return false;
	}

})


$(document).ready(function(){
	var faye = new Faye.Client('<%= request.protocol + request.host %>/faye')
	faye.subscribe("/messages/new",function(payload){
		var data = JSON.parse(payload);
		(function(){
			$('#messages ul').append(
					'<li>' + 
						'<span class="content"> '  + data['message']['content'] + ' </span>' +
						'<span class="username">'  + data['message']['username'] + ' </span>' +
						'<span> ' + data['message']['created_at'] + ' </span>' + 
					'</li>')

			$($('#messages ul').find('li')[0]).remove();

			$('#message-input').val("");
		})();
	})		
});

</script>
