<div id="chat-rooms">
  <p id="notice"><%= notice %></p>

  <h1>聊天室</h1>

  <table>
    <thead>
      <tr>
        <th>名稱</th>
        <th>頻道</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @chat_rooms.each do |chat_room| %>
        <tr>
          <td><%= chat_room.name %></td>
          <td><%= chat_room.channel %></td>
          <td><%= link_to '進入', chat_room %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '新增聊天室', new_chat_room_path %>
</div>

